<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img class="center" src="/{{ site.image }}"
        alt="Abhijith">
        <br>
      {% assign base = site.baseurl | append: "/" %}
      <div style="text-align: center;">
        <a href="mailto:abhijith.ragh@gmail.com"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i></a>
        <a href="https://github.com/abhijithragav"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/abhijithragav"><i class="fab fa-linkedin"></i></a>
        <a href="https://scholar.google.com/citations?hl=en&user=uaIYAlUAAAAJ"><i class="fa fa-graduation-cap"></i></a>
        <a href="https://twitter.com/Abhijith0798"><i class="fab fa-twitter"></i></a>
      </div>
      <h1>
        <a href="{{ base }}">
          <span class="side-link">{{ site.title }}</span>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == base %} active{% endif %}" href="{{ base }}"><span class="side-link">About</span></a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list reversed %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}"><span class="side-link">{{ node.title }}</span></a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a class="sidebar-nav-item" href="{{ node.url }}/public/Abhijith_Resume.pdf"><span class="side-link">Resume</span></a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} Abhijith Ragav</p>
  </div>
</div>
